body {  

      background: #7ec52c; 
    
    }
    
    
     form {  
    
       width: 30%;  
    
       margin: 60px auto;  
    
       background: #efefef;  
    
       padding: 60px 120px 80px 120px;  
    
       text-align: center;  
    
       -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    
    }